<%- @page_title = t('articles.index.title') -%>

<section class="h-feed">
	<header>
		<h1 class="p-name"><%= @page_title %></h1>

    <%- if @articles.total_pages > 1 -%>
      <small>Viewing page <%= @articles.current_page %> of <%= @articles.total_pages %></small>
    <%- end -%>
	</header>

	<%- if @articles.any? -%>
		<ol reversed>
			<%- @articles.each do |article| -%>
				<li>
					<div class="h-entry">
						<%= link_to article.title.smarten, article_path(article), class: 'u-url p-name' %>
					</div>
				</li>
			<%- end -%>
		</ol>

		<%= will_paginate @articles %>
	<%- else -%>
		<p><%= t('articles.index.none') %></p>
	<%- end -%>
</section>
