<%- @page_title = "#{@article.title.smarten} — #{t('articles.index.title')}" -%>

<article class="h-entry">
	<header>
		<h1 class="p-name"><%= @article.title.smarten %></h1>

		<%- if @article.published_at? -%>
			<small>
        Published on <time class="dt-published" datetime="<%= @article.published_at.to_s(:iso8601) %>"><%= raw @article.published_at.to_s(:long_ordinal) %></time>.

        <%- if @article.updated_at > @article.published_at -%>
          Updated on <time class="dt-updated" datetime="<%= @article.updated_at.to_s(:iso8601) %>"><%= raw @article.updated_at.to_s(:long_ordinal) %></time>.
        <%- end -%>
      </small>
		<%- end -%>
	</header>

	<div class="e-content">
		<%= raw @article.content.to_html %>
	</div>

  <footer>
    <p><cite><%= link_to @article.title.smarten, article_path(@article), class: 'u-url' %></cite> is also available as <%= link_to 'JSON', article_path(@article, format: :json), download: "#{@article.title.smarten}.json", rel: 'alternate', type: 'application/json' %>.</p>

    <dl>
      <%- if @article.location -%>
        <dt>Location</dt>
        <dd>
          <%= link_to @article.location.map_url, class: 'p-location h-geo' do %>
            <span class="p-latitude"><%= @article.location.latitude %></span>,
    				<span class="p-longitude"><%= @article.location.longitude %></span>
    			<% end %>
        </dd>
    	<%- end -%>

      <%- if @article.tags.any? -%>
        <dt>Tagged</dt>
        <%- @article.sorted_tags.each do |tag| -%>
          <dd><%= link_to tag.name, tag_path(tag), class: 'p-category' %></dd>
        <%- end -%>
      <%- end -%>

      <%- if @article.syndications.any? -%>
        <dt>Syndicated</dt>
        <%- @article.sorted_syndications.each do |syndication| -%>
          <dd><%= link_to syndication.name, syndication.url, class: 'u-syndication' %></dd>
        <%- end -%>
      <%- end -%>
    </dl>
  </footer>
</article>
