<article class="h-entry">
	<header>
		<h1 class="p-name"><%= @article.title.smarten %></h1>

		<%- if @article.published_at? -%>
			<small><%= t('articles.show.published_at', published_at_iso8601: @article.published_at.to_s(:iso8601), published_at_long_ordinal: @article.published_at.to_s(:long_ordinal)) %></small>
		<%- end -%>
	</header>

	<div class="e-content">
		<%= raw @article.content.to_html %>
	</div>

  <%- if @article.tags.any? -%>
    <ul>
      <%- @article.sorted_tags.each do |tag| -%>
        <li>
          <%= link_to tag.name, tag_path(tag), class: 'p-category' %>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>

	<%- if @article.location -%>
		<p class="h-geo p-location">
			<%= link_to @article.location.map_url do %>
				<span class="p-latitude"><%= @article.location.latitude %></span>,
				<span class="p-longitude"><%= @article.location.longitude %></span>
			<% end %>
		</p>
	<%- end -%>

  <%- if @article.syndications.any? -%>
    <ul>
      <%- @article.sorted_syndications.each do |syndication| -%>
        <li>
          <%= link_to syndication.name, syndication.url, class: 'u-syndication' %>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
</article>
