<article class="h-entry">
	<header>
		<h1 class="p-name"><%= @article.title.smarten %></h1>
	</header>

	<div class="e-content">
		<%= raw @article.content.to_html %>
	</div>

	<%- if @article.tags.any? -%>
		<ul>
			<%- @article.tags.each do |tag| -%>
				<li>
					<%= link_to tag.name, tag_path(tag), class: 'p-category' %>
				</li>
			<%- end -%>
		</ul>
	<%- end -%>

	<%- if @article.location -%>
		<p class="h-geo p-location">
			<span class="p-latitude"><%= @article.location.latitude %></span>,
			<span class="p-longitude"><%= @article.location.longitude %></span>
		</p>
	<%- end -%>

	<%- if @article.syndications.any? -%>
		<ul>
			<%- @article.sorted_syndications.each do |syndication| -%>
				<li>
					<%= link_to syndication.name, syndication.url, class: 'u-syndication' %>
				</li>
			<%- end -%>
		</ul>
	<%- end -%>
</article>
