<div class="homepage-content">
	<section class="welcome section h-card">
		<%= link_to main_app.root_path, class: 'avatar u-url', rel: 'home' do %>
			<%= image_tag francis_cms_config.user_avatar, alt: '', class: 'u-photo' %>
		<% end %>

		<h1 class="salutation">Hi! I'm <%= mail_to francis_cms_config.user_email, francis_cms_config.user_name, class: 'p-name u-email' %>.</h1>

		<div class="content p-note">
			<p>I’m a <%= link_to 'web developer', 'https://github.com/jgarber623', class: 'p-role' %>, <%= link_to 'musician', 'http://whoistheorchid.com/', class: 'p-role', title: 'Listen to my band, The Orchid.' %>, <%= link_to 'community organizer', 'http://refresh-dc.org/', class: 'p-role', title: 'Visit the Refresh DC website.' %>, <%= link_to 'photographer', 'http://flickr.com/photos/jgarber', class: 'p-role', rel: 'me', title: 'View my Flickr photos.' %>, and <%= link_to 'occasional author', francis_cms.posts_path, class: 'p-role', title: 'Read my semi-regular ramblings.' %> living in <span class="p-locality">Washington</span>, <abbr class="p-region" title="District of Columbia">DC</abbr>.</p>
			<p>You can find me all over the web, typically as “<span class="p-nickname" title="And sometimes, jgarber623.">jgarber</span>.”</p>
		</div>
	</section>

	<aside class="book-promo" role="complementary">
		<h1>Buy my book!</h1>

		<figure class="h-product">
			<%= link_to 'http://www.amazon.com/dp/1430238763/?tag=sixtwothree-20', class: 'cover u-url' do %>
				<%= image_tag 'foundation-html5-with-css3-small.jpg', alt: 'Foundation HTML5 with CSS3', class: 'u-photo', srcset: "#{asset_path 'foundation-html5-with-css3-large.jpg'} 2x" %>
			<% end %>

			<figcaption class="e-description">
				<p>For those new to web development and seasoned pros alike, <cite class="p-name">Foundation HTML5 with CSS3: A Modern Guide and Reference</cite> uses practical examples that teach readers how to correctly use semantic, standards-compliant HTML5 and CSS3.</p>
				<%= link_to 'Buy on Amazon', 'http://www.amazon.com/dp/1430238763/?tag=sixtwothree-20' %>
			</figcaption>
		</figure>
	</aside>

	<%- if @posts.any? -%>
		<section class="section h-feed">
			<h1 class="p-name">Recent Posts</h1>

			<ol class="recent-list" reversed>
				<%- @posts.each do |post| -%>
					<li>
						<%= render 'francis_cms/shared/post_hentry', post: post, is_expanded: false %>
					</li>
				<%- end -%>
			</ol>

			<%= link_to 'See more posts →', francis_cms.posts_path %>
		</section>
	<%- end -%>

	<%- if @links.any? -%>
		<section class="section h-feed">
			<h1 class="p-name">Recent Links</h1>

			<ol class="recent-list" reversed>
				<%- @links.each do |link| -%>
					<li>
						<%= render 'francis_cms/shared/link_hentry', link: link, is_expanded: false %>
					</li>
				<%- end -%>
			</ol>

			<%= link_to 'See more links →', francis_cms.links_path %>
		</section>
	<%- end -%>

	<section class="section">
		<h1>Selected Works</h1>

		<ol class="projects-list" reversed>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://fyia.worldwildlife.org/">Find Your Inner Animal</a></h2>
					<span class="project-description p-summary">just-for-fun survey built for World Wildlife Fund, <time class="dt-start" datetime="2013-12-16">December 2013</time>.</span>
				</div>
			</li>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://photodrop.in/">PhotoDrop</a></h2>
					<span class="project-description p-summary">Dropbox-powered photo-sharing website created with <a href="http://tpitale.com/" class="h-card">Tony Pitale</a> and <a href="http://viget.com/about/team/mtran" class="h-card">Minh Tran</a> for the <a href="http://railsrumble.com/">2012 Rails Rumble</a>, <time class="dt-start" datetime="2012-11-30">November 2012</time>.</span>
				</div>
			</li>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://www.amazon.com/dp/1430238763/?tag=sixtwothree-20">Foundation HTML5 with CSS3</a></h2>
					<span class="project-description p-summary">co-authored with <a href="http://www.focalcurve.com/" class="h-card">Craig Cook</a>, published by <a href="http://www.apress.com/">Apress</a>, <time class="dt-start" datetime="2012-10-10">October 2012</time>.</span>
				</div>
			</li>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://theorchid.bandcamp.com/album/beyond-the-vast-endless-sea">Beyond The Vast, Endless Sea</a></h2>
					<span class="project-description p-summary">by <a href="http://www.whoistheorchid.com/" class="h-card">The Orchid</a>, released on Liberty Fuse Records, <time class="dt-start" datetime="2012-07-31">July 2012</time>.</span>
				</div>
			</li>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://www.google.com/patents/US8190622">Data Picker Application</a></h2>
					<span class="project-description p-summary">U.S. Patent 8,190,622, <time class="dt-start" datetime="2012-05-29">May 2012</time>.</span>
				</div>
			</li>
			<li>
				<div class="project h-event">
					<h2 class="project-title p-name"><a href="http://ficly.com/">Ficly</a></h2>
					<span class="project-description p-summary">social micro-fiction website created with <a href="http://lawver.net/" class="h-card">Kevin Lawver</a>, <time class="dt-start" datetime="2009-05-30">May 2009</time>.</span>
				</div>
			</li>
		</ol>
	</section>

	<section class="section">
		<h1>Elsewhere</h1>

		<ol class="profiles-list">
			<li><%= link_to 'Bandcamp', 'https://bandcamp.com/jgarber', class: 'bandcamp', rel: 'me' %></li>
			<li><%= link_to 'CodePen', 'http://codepen.io/jgarber', class: 'codepen', rel: 'me' %></li>
			<li><%= link_to 'Delicious', 'https://delicious.com/jgarber', class: 'delicious', rel: 'me' %></li>
			<li><%= link_to 'Facebook', 'https://www.facebook.com/jgarber623', class: 'facebook', rel: 'me' %></li>
			<li><%= link_to 'Ficly', 'http://ficly.com/authors/jgarber', class: 'ficly', rel: 'me' %></li>
			<li><%= link_to 'Flickr', 'http://flickr.com/photos/jgarber', class: 'flickr', rel: 'me' %></li>
			<li><%= link_to 'GitHub', 'https://github.com/jgarber623', class: 'github', rel: 'me' %></li>
			<li><%= link_to 'Goodreads', 'https://www.goodreads.com/jgarber623', class: 'goodreads', rel: 'me' %></li>
			<li><%= link_to 'Instagram', 'http://instagram.com/jgarber', class: 'instagram', rel: 'me' %></li>
			<li><%= link_to 'Keybase', 'https://keybase.io/jgarber', class: 'keybase', rel: 'me' %></li>
			<li><%= link_to 'Kickstarter', 'http://www.kickstarter.com/profile/jgarber', class: 'kickstarter', rel: 'me' %></li>
			<li><%= link_to 'Lanyrd', 'http://lanyrd.com/profile/jgarber', class: 'lanyrd', rel: 'me' %></li>
			<li><%= link_to 'Letterboxd', 'http://letterboxd.com/jgarber', class: 'letterboxd', rel: 'me' %></li>
			<li><%= link_to 'PhotoDrop', 'http://photodrop.in/jgarber', class: 'photodrop', rel: 'me' %></li>
			<li><%= link_to 'Pinterest', 'http://pinterest.com/jgarber623', class: 'pinterest', rel: 'me' %></li>
			<li><%= link_to 'Polar', 'http://polarb.com/users/jgarber', class: 'polar', rel: 'me' %></li>
			<li><%= link_to 'Rdio', 'http://www.rdio.com/people/jgarber', class: 'rdio', rel: 'me' %></li>
			<li><%= link_to 'Twitter', 'https://twitter.com/jgarber', class: 'twitter', rel: 'me' %></li>
			<li><%= link_to 'Untappd', 'https://untappd.com/user/jgarber', class: 'untappd', rel: 'me' %></li>
			<li><%= link_to 'Vimeo', 'https://vimeo.com/jgarber', class: 'vimeo', rel: 'me' %></li>
			<li><%= link_to 'VSCO Grid', 'http://jgarber.vsco.co/', class: 'vsco', rel: 'me' %></li>
			<li><%= link_to 'YouTube', 'http://www.youtube.com/user/jgarber623', class: 'youtube', rel: 'me' %></li>
		</ol>
	</section>
</div>