<%- @page_title = t('tags.index.title') -%>

<h1><%= @page_title %></h1>

<%- if @tags.any? -%>
  <small>All <%= pluralize @tags.length, 'tag' %></small>
<%- end -%>

<%- if @grouped_tags.any? -%>
  <dl>
    <%- @grouped_tags.each do |group_name, tags| -%>
      <dl>Tagged content beginning with “<%= group_name %>”</dl>
      <dd>
        <ol>
					<%- tags.each do |tag| -%>
						<li><%= link_to tag.name, tag_path(tag) %></li>
					<%- end -%>
				</ol>
      </dd>
    <%- end -%>
  </dl>
<%- else -%>
	<p><%= t('tags.index.none') %></p>
<%- end -%>
