<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= t('site.name') %></title>

  <meta name="apple-mobile-web-app-title" content="<%= t('site.name') %>">
  <meta name="application-name" content="<%= t('site.name') %>">
  <meta name="author" content="<%= t('user.name') %>">
  <meta name="description" content="<%= t('site.description') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <h1><%= link_to t('site.name'), root_path, rel: 'home' %></h1>

    <nav>
      <%= link_to t('pages.colophon.title'), colophon_path %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <%= t('layout.footer_html', license_name: t('site.license.name'), license_url: t('site.license.url'), repo_url: t('site.repo_url')) %>
  </footer>

</body>
</html>
