<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en-US">
<head>
	<meta charset="utf-8">

	<title><%= page_title %></title>

	<meta name="description" content="<%= page_description %>">
	<meta name="og:description" itemprop="description" content="<%= page_description %>">
	<meta name="og:title" itemprop="name" content="<%= page_title %>">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@jgarber">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= auto_discovery_link_tag :rss, francis_cms.links_path(format: :rss), title: %{#{francis_cms_config.site_title}: Links} %>
	<%= auto_discovery_link_tag :rss, francis_cms.posts_path(format: :rss), title: %{#{francis_cms_config.site_title}: Posts} %>
	<%= auto_discovery_link_tag :rss, francis_cms.webmentions_path(format: :rss), title: %{#{francis_cms_config.site_title}: Webmentions} %>

	<link rel="apple-touch-icon" href="<%= asset_path francis_cms_config.user_avatar %>">
	<link rel="shortcut icon" href="<%= asset_path francis_cms_config.user_avatar %>">
	<link rel="webmention" href="<%= francis_cms.webmentions_url %>">

	<%- if include_full_css? -%>
		<%= stylesheet_link_tag 'application.css' %>
		<%- if logged_in? -%>
			<%= stylesheet_link_tag 'admin.css' %>
		<%- end -%>
	<%- else -%>
		<style>
			<%= raw assets.find_asset('critical.css') %>
		</style>

		<script>
			function loadCSS(e) {
				var d=document,l=d.createElement('link'),o=d.getElementsByTagName('script')[0],s=d.styleSheets;l.rel='stylesheet';l.href=e;l.media='only x';o.parentNode.insertBefore(l,o);
				function m(){var x;for(var i=0;i<s.length;i++){if(s[i].href&&s[i].href.indexOf(e)>-1){x=true;}}if(x){l.media='all';}else{setTimeout(m);}}m();return l;
			}

			loadCSS('<%= asset_path 'application.css' %>');
			<%- if logged_in? -%>
				loadCSS('<%= asset_path 'admin.css' %>');
			<%- end -%>

			document.cookie='fullCSS=true;expires=<%= (DateTime.now.utc + 7).strftime("%a, %d %b %Y %T GMT") %>;path=/';
		</script>

		<noscript>
			<%= stylesheet_link_tag 'application.css' %>
			<%- if logged_in? -%>
				<%= stylesheet_link_tag 'admin.css' %>
			<%- end -%>
		</noscript>
	<%- end -%>

	<!--[if lt IE 9]>
		<%= javascript_include_tag 'legacy' %>
	<![endif]-->
</head>
<body>

	<%= raw assets.find_asset('icons.svg') %>

	<%= link_to 'Skip to main content', '#main', class: 'skip-link' %>

	<%- if flash.any? -%>
		<div class="messages" role="alert">
			<%- flash.each do |name, msg| -%>
				<p class="<%= name %>"><%= msg %></p>
			<%- end -%>
		</div>
	<%- end -%>

	<header class="global-header" role="banner">
		<h1><%= link_to francis_cms_config.site_title, main_app.root_path, rel: 'home' %></h1>

		<nav class="global-navigation" role="navigation">
			<button aria-controls="navigation" aria-expanded="true" aria-hidden class="global-navigation-control">
				<svg aria-label="Site Navigation"><use xlink:href="#icon-menu"></svg>
				Menu
			</button>

			<ul id="navigation">
				<li><%= link_to 'Posts', francis_cms.posts_path %></li>
				<li><%= link_to 'Links', francis_cms.links_path %></li>
				<li><%= link_to 'Tags', francis_cms.tags_path %></li>
				<%- if logged_in? -%>
					<li><%= link_to 'Webmentions', francis_cms.webmentions_path %></li>
				<%- end -%>
				<li>
					<%- if logged_in? -%>
						<%= form_tag main_app.logout_path, method: :delete do %>
							<button type="submit">Log Out</button>
						<% end %>
					<%- else -%>
						<%= link_to 'Log In', main_app.login_path %>
					<%- end -%>
				</li>
			</ul>
		</nav>
	</header>

	<main class="global-content" id="main" role="main" tabindex="-1">
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<footer class="global-footer" role="contentinfo">
		<div class="container">
			<p>Some rights reserved. This site’s content is licensed under a <%= link_to %{#{francis_cms_config.license_title} license}, francis_cms_config.license_url, rel: 'license' %>. Source code available on <%= link_to 'GitHub', 'https://github.com/jgarber623/sixtwothree.org', rel: 'source' %>.</p>
		</div>
	</footer>

	<%= francis_cms_admin_panel if logged_in? %>

	<script>
		function loadJS(e) {
			var d=document,r=d.createElement('script'),o=d.getElementsByTagName('script')[0];
			r.src=e;o.parentNode.insertBefore(r,o);return r;
		}

		if ('querySelector' in document && 'addEventListener' in window) {
			loadJS('<%= asset_path 'application.js' %>');

			<%- if logged_in? -%>
				loadJS('<%= asset_path 'admin.js' %>');
			<%- end -%>
		}
	</script>
</body>
</html>