<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= page_title %></title>

  <meta name="apple-mobile-web-app-title" content="<%= t('site.name') %>">
  <meta name="application-name" content="<%= t('site.name') %>">
  <meta name="author" content="<%= t('site.user.name') %>">
  <meta name="description" content="<%= t('site.description') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= rss_link_tag href: articles_path(format: :rss), title: "#{t('site.name')}: #{t('articles.index.title')}" %>
</head>
<body>

  <header role="banner">
    <h1><%= link_to t('site.name'), root_path, rel: 'home' %></h1>

    <nav role="navigation">
      <%= link_to t('articles.index.title'), articles_path %>
      <%= link_to t('tags.index.title'), tags_path %>
      <%= link_to t('pages.colophon.title'), page_path('colophon') %>
    </nav>
  </header>

  <main role="main">
    <%= yield %>
  </main>

  <footer role="contentinfo">
    <small>Some rights reserved. This site’s content is licensed under a <%= link_to "#{t('site.license.name')} license", t('site.license.url'), rel: 'license' %>. Source code available on <%= link_to 'GitHub', 'https://github.com/jgarber623/sixtwothree.org', rel: 'source' %>.</small>
  </footer>

</body>
</html>
